In [1]:
for dan in range(2,10):
    for su in range(1,10):
        print(dan*su, end=' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [2]:
coffee = 10

while True:
    money = int(input('돈을 넣어 주세요 : '))
    if money == 300:
        print("커피를 줍니다.")
        coffee -= 1
    elif money > 300:
        print(f'거스름돈 {money-300}원을 주고 커피를 줍니다.')
        coffee -= 1
    else:
        print('돈을 다시 돌려주고 커피를 주지 않습니다.')
        print(f'남은 커피의 양은 {coffee}개 입니다.')
    if coffee == 0:
        print('커피가 다 떨어졌습니다. 판매를 중지 합니다.')
        break

거스름돈 200원을 주고 커피를 줍니다.
거스름돈 200원을 주고 커피를 줍니다.
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개 입니다.
거스름돈 700원을 주고 커피를 줍니다.
거스름돈 400원을 주고 커피를 줍니다.
거스름돈 100원을 주고 커피를 줍니다.
거스름돈 9700원을 주고 커피를 줍니다.
커피를 줍니다.
거스름돈 500원을 주고 커피를 줍니다.
거스름돈 1700원을 주고 커피를 줍니다.
거스름돈 400원을 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

### 딕셔너리

In [21]:
menu = {
    '김밥':2000,
    '라면':2000,
    '돈까스':5000,
    '김밥':3000
}

menu

{'김밥': 3000, '라면': 2000, '돈까스': 5000}

In [22]:
print(type(menu))

<class 'dict'>

In [23]:
menu['김밥']

3000

In [24]:
menu['김밥'] = 2500
menu

{'김밥': 2500, '라면': 2000, '돈까스': 5000}

In [25]:
menu['떡볶이'] = 3000
menu

{'김밥': 2500, '라면': 2000, '돈까스': 5000, '떡볶이': 3000}

In [26]:
list(menu.keys())

['김밥', '라면', '돈까스', '떡볶이']

In [29]:
list(menu.values())

[2500, 2000, 5000, 3000]

In [30]:
list(menu.items())

[('김밥', 2500), ('라면', 2000), ('돈까스', 5000), ('떡볶이', 3000)]

In [32]:
menus = list(menu.keys())
menus

['김밥', '라면', '돈까스', '떡볶이']

In [33]:
menus = ['김밥', '라면', '돈까스']

for i in range(len(menus)):
    print(i+1,'.',menus[i])

1 . 김밥
2 . 라면
3 . 돈까스

In [19]:
for price in menu.values():
    print(price)

2500
2000
2000
3000

In [34]:
for price in menu.items():
    print(price)

('김밥', 2500)
('라면', 2000)
('돈까스', 5000)
('떡볶이', 3000)

In [35]:
menu

{'김밥': 2500, '라면': 2000, '돈까스': 5000, '떡볶이': 3000}

In [36]:
menu.pop('김밥')

2500

In [39]:
menu.popitem()

('떡볶이', 3000)

In [40]:
menu

{'라면': 2000, '돈까스': 5000}

In [41]:
addrs = {
    'name':2000,
    'phone':3000,
    'addr':5000

}

In [42]:
addrs_list = [{'amy':2000, 'phone':1111, 'addr':5123},
              {'emma':3000, 'phone':2222, 'addr':5456},
              {'hanni':4000, 'phone':3333, 'addr':5789}]

In [43]:
menu

{'라면': 2000, '돈까스': 5000}

In [44]:
for key, value in menu.items():
    print(key, value)

라면 2000
돈까스 5000

In [45]:
print(menu.get('김밥'))

None

In [46]:
a_list = [3,'hello',[4,5,6],{'a':1, 'b':2}]

In [47]:
addr_list = [{'name':'chris', 'phone':'010-1234-5678', 'addr':'안양시'},
             {'name':'chris2', 'phone':'010-1234-5678', 'addr':'안양시'},
             {'name':'chris3', 'phone':'010-1234-5678', 'addr':'안양시'}]

### TODoList 만들기

In [48]:
todolist = []

In [49]:
todolist.append('할일')
todolist

['할일']

In [50]:
todolist.remove('할일')
todolist

[]

In [60]:
todolist = []

while True:
    print('메뉴선택 (1. 할일 추가, 2. 한일 삭제, 0. 종료)')
    menu = int(input('메뉴선택(1. 할일 추가, 2. 한일 삭제, 0. 종료)? :'))
    print(menu)

    if menu == 1:
        todolist.append(input('*할일 내용 입력 >>'))
    elif menu == 2:
        todolist.remove(input('*완료한 내용 입력 >>'))
    elif menu == 0:
        print('프로그램을 종료합니다.')
        break
    else:
        print('잘못된 번호를 입력했습니다.')
        continue


for i in range(len(todolist)):
    print(f'{i+1}.{todolist[i]}')
print('*'*30)

메뉴선택 (1. 할일 추가, 2. 한일 삭제, 0. 종료)
1
메뉴선택 (1. 할일 추가, 2. 한일 삭제, 0. 종료)
1
메뉴선택 (1. 할일 추가, 2. 한일 삭제, 0. 종료)
1
메뉴선택 (1. 할일 추가, 2. 한일 삭제, 0. 종료)
2
메뉴선택 (1. 할일 추가, 2. 한일 삭제, 0. 종료)
0
프로그램을 종료합니다.
1.토익
2.마루 산책
******************************

In [64]:
# 전화번호부 만들기
addr = {
    '박지민': '010-1111-1111', 
    '전정국': '010-2222-2222', 
    '정호석': '010-3333-3333', 
    '김석진': '010-4444-4444', 
    '김남준': '010-6666-6666', 
}

while True :
    print(f'메뉴 선택(1.추가, 2.검색, 0.종료)')
    menu = int(input('메뉴선택(1. 추가, 2. 검색, 0. 종료)? :'))
    print(menu)

    if menu == 1:
        addr_key = input('이름 입력 :')
        addr_value = input('전화번호 입력 :')
        addr[addr_key] = addr_value
    elif menu == 2:
        print('전화번호부 목록', list(addr.keys()))
        name = input('검색할 친구 입력 : ')
        if addr.get(name):
            print(addr.get(name))
        else:
            print('목록에 없는 이름 입니다.')
    elif menu == 0:
        print('프로그램을 종료합니다.')
        break
    else:
        print('잘못된 번호를 입력했습니다.')

메뉴 선택(1.추가, 2.검색, 0.종료)
1
메뉴 선택(1.추가, 2.검색, 0.종료)
2
전화번호부 목록 ['박지민', '전정국', '정호석', '김석진', '김남준', '김민혁']
010-2222-2222
메뉴 선택(1.추가, 2.검색, 0.종료)
0
프로그램을 종료합니다.

### 튜플

In [65]:
t1 = ()

In [66]:
type(t1)

tuple

In [67]:
t2 = (1,)
print(type(t2))

<class 'tuple'>

In [68]:
t3 = (1,2,3)
print(t3)

(1, 2, 3)

In [69]:
t4 = 1,2,3

print(type(t4))

<class 'tuple'>

In [70]:
t5 = ('a',1,('ab','cd'))
print(type(t5))

<class 'tuple'>

In [71]:
(1,2,3) + (4,5)

(1, 2, 3, 4, 5)

In [72]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [73]:
list(range(5))

[0, 1, 2, 3, 4]

In [74]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [75]:
type(range(5))

range

### in 연산자

In [ ]:
fruits = ['사과','포도','홍시']

user = input('과일 입력 : ')

if user in fruits:
    print(f'{user}은 과일바구니에 있는 과일입니다.')
else:
    print(f'{user}과은 일바구니에 없어 !!')

홍시은 과일바구니에 있는 과일입니다.

In [78]:
menu = {
    '김밥':2000,
    '라면':3000,
    '돈까스':5000
}

user = input('메뉴 입력 : ')

if user in menu:
    print('메뉴에 있습니다.')
else :
    print('메뉴에 없습니다.')

메뉴에 있습니다.

In [79]:
# 학생들의 성적 데이터
students = [
    {'name': 'Alice', 'grades': [90, 85, 92]},
    {'name': 'Bob', 'grades': [78, 80, 88]},
    {'name': 'Charlie', 'grades': [95, 92, 89]}
]
# 각 학생의 평균 성적 출력
for student in students:
    name = student['name']
    total_grades = 0
    num_grades = 0
    for grade in student['grades']:
        total_grades += grade
        num_grades += 1
    average_grade = total_grades / num_grades
    print(f"{name}의 평균: {average_grade}")

# 전체 학생들의 평균 성적 계산
total_grades_all_students = 0
num_grades_all_students = 0

for student in students:
    total_grades_all_students += sum(student['grades'])
    num_grades_all_students += len(student['grades'])
average_all_students = total_grades_all_students / num_grades_all_students
print(f"\n전체평균 : {average_all_students}")

# 성적이 90 이상인 학생들을 찾아서 출력
high_grades_students = []
for student in students:
    if any(grade >= 90 for grade in student['grades']):
        high_grades_students.append(student['name'])
print("\n90점 이상인 학생명단 :", high_grades_students)

Alice의 평균: 89.0
Bob의 평균: 82.0
Charlie의 평균: 92.0

전체평균 : 87.66666666666667

90점 이상인 학생명단 : ['Alice', 'Charlie']

### 내장함수

In [80]:
for i in dir(__builtins__):
    print(i)

ArithmeticError
AssertionError
AttributeError
BaseException
BaseExceptionGroup
BlockingIOError
BrokenPipeError
BufferError
BytesWarning
ChildProcessError
ConnectionAbortedError
ConnectionError
ConnectionRefusedError
ConnectionResetError
DeprecationWarning
EOFError
Ellipsis
EncodingWarning
EnvironmentError
Exception
ExceptionGroup
False
FileExistsError
FileNotFoundError
FloatingPointError
FutureWarning
GeneratorExit
IOError
ImportError
ImportWarning
IndentationError
IndexError
InterruptedError
IsADirectoryError
KeyError
KeyboardInterrupt
LookupError
MemoryError
ModuleNotFoundError
NameError
None
NotADirectoryError
NotImplemented
NotImplementedError
OSError
OverflowError
PendingDeprecationWarning
PermissionError
ProcessLookupError
RecursionError
ReferenceError
ResourceWarning
RuntimeError
RuntimeWarning
StopAsyncIteration
StopIteration
SyntaxError
SyntaxWarning
SystemError
SystemExit
TabError
TimeoutError
True
TypeError
UnboundLocalError
UnicodeDecodeError
UnicodeEncodeError
UnicodeError
UnicodeTranslateError
UnicodeWarning
UserWarning
ValueError
Warning
WindowsError
ZeroDivisionError
__IPYTHON__
__build_class__
__debug__
__doc__
__import__
__loader__
__name__
__package__
__spec__
abs
aiter
all
anext
any
ascii
bin
bool
breakpoint
bytearray
bytes
callable
chr
classmethod
compile
complex
copyright
credits
delattr
dict
dir
display
divmod
enumerate
eval
exec
execfile
filter
float
format
frozenset
get_ipython
getattr
globals
hasattr
hash
help
hex
id
input
int
isinstance
issubclass
iter
len
license
list
locals
map
max
memoryview
min
next
object
oct
open
ord
pow
print
property
range
repr
reversed
round
runfile
set
setattr
slice
sorted
staticmethod
str
sum
super
tuple
type
vars
zip

### 사용자 지정 함수

In [82]:
def NameHi(name):
    print(f'{name}야 ~ Hi')

In [83]:
NameHi('Chris')
NameHi('April')
NameHi('김수현')

Chris야 ~ Hi
April야 ~ Hi
김수현야 ~ Hi

In [84]:
def HiReturn():
    return 'Hi'

b = HiReturn()
print(b)

Hi

In [85]:
def num_max(num1,num2,num3):
    max_val = num1
    # if num1>max_val:
    #     max_val = num1
    if num2>max_val:
        max_val = num2
    if num3>max_val:
        max_val = num3
    return max_val

In [86]:
num = num_max(-1,-3,-5)
print('hello')
print(num)

hello
-1

In [ ]:
def isLeapYear(year):
    return (year%4 == 0) and (year % 100 != 100) or (year % 400 == 0)

In [89]:
def isLeapYear(year):
    if year % 4 == 0:
        if (year % 100 != 0) or (year % 400 == 0):  # 콜론 추가
            return True
    return False

In [90]:
isLeapYear(2024) # -> True/ False

True

O ->1600, 2000, 2024, 1996  
X -> 1900, 2023, 2100

### 가변인자 처리 함수

In [91]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

In [92]:
print(add_many(2,3))
print(add_many(1,2,3,4,5,6,7,8,9,10))

5
55

In [93]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result

In [94]:
print(add_mul('mul',1,2,3,4,5))
print(add_mul('add',1,2,3))

120
6

In [97]:
def add_mul4(*args, choice='add'):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result

In [98]:
print(add_mul4(1,2,3,4,5))
print(add_mul4(1,2,3,choice = 'mul'))

15
6

In [99]:
def add_and_mul(a, b):
    return (a+b, a*b)

In [100]:
result = add_and_mul(3,4)
result

(7, 12)

In [101]:
result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [102]:
def func(a, b):
    return a+b,a-b, a*b, a//b

In [103]:
num1, num2, num3, num4 = func(10, 3)
print(num1, num2, num3, num4)

13 7 30 3