### while 반복문

In [1]:
i = 0
while i < 5:
    i = i+1
    print(f'{i}번째 출력 : Hello Python')
print('반복문 종료')

1번째 출력 : Hello Python
2번째 출력 : Hello Python
3번째 출력 : Hello Python
4번째 출력 : Hello Python
5번째 출력 : Hello Python
반복문 종료

In [2]:
i = 0

while i < 20:
    i += 1
    print(i, end=" ")
print('반복문 종료')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 반복문 종료

In [3]:
# 사용자로부터 정수값을 입력받아 1부터 입력받은 숫자까지의 합을 구해 봅시다. 

endValue = int(input('합을 원하는 정수값 입력 : '))

hap = 0
i = 0
while i < endValue:
    i += 1
    hap = hap + i
    
print(f'1부터 {endValue}까지의 합은 {hap}입니다.')

1부터 5까지의 합은 15입니다.

In [4]:
prompt = """
1. ADD
2. Del
3. Qite
"""

input_num = 0

while input_num != 3 :
    print(prompt)
    input_num = int(input())

1. ADD
2. Del
3. Qite


1. ADD
2. Del
3. Qite


1. ADD
2. Del
3. Qite

### for 문

In [5]:
for i in "hello":
    print('Hello python')

Hello python
Hello python
Hello python
Hello python
Hello python

In [6]:
for i in "hello":
    print(i)

h
e
l
l
o

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [9]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [10]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [11]:
# for문과 range()함수를 사용해서 1부터 10까지의 합을 구해 봅시다.
hap = 0

for i in range(1,11):
    hap += i

print(f'1부터 10까지의 합은 {hap} 입니다.')

1부터 10까지의 합은 55 입니다.

In [12]:
# 사용자로부터 입력받은 숫자에 해당하는 구구단을 출력해 봅시다.
dan = 2

for i in range(1,10):
    print(f'{dan} * {i} = {dan*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [13]:
dan = 2
i = 1

while i <= 9:
    print(f'{dan} * {i} = {dan*i}')
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [18]:
# 구구단 2단~9단 출력
# 구구단 출력 (2단부터 9단까지 가로로 정렬)

for i in range(1, 10): # 1부터 9까지
    for j in range(2, 10): # 2단부터 9단까지
        print(f"{j}*{i}={j*i:3}", end="  ")
    print() # 한 줄 출력 후 줄 바꿈

2*1=  2  3*1=  3  4*1=  4  5*1=  5  6*1=  6  7*1=  7  8*1=  8  9*1=  9
2*2=  4  3*2=  6  4*2=  8  5*2= 10  6*2= 12  7*2= 14  8*2= 16  9*2= 18
2*3=  6  3*3=  9  4*3= 12  5*3= 15  6*3= 18  7*3= 21  8*3= 24  9*3= 27
2*4=  8  3*4= 12  4*4= 16  5*4= 20  6*4= 24  7*4= 28  8*4= 32  9*4= 36
2*5= 10  3*5= 15  4*5= 20  5*5= 25  6*5= 30  7*5= 35  8*5= 40  9*5= 45
2*6= 12  3*6= 18  4*6= 24  5*6= 30  6*6= 36  7*6= 42  8*6= 48  9*6= 54
2*7= 14  3*7= 21  4*7= 28  5*7= 35  6*7= 42  7*7= 49  8*7= 56  9*7= 63
2*8= 16  3*8= 24  4*8= 32  5*8= 40  6*8= 48  7*8= 56  8*8= 64  9*8= 72
2*9= 18  3*9= 27  4*9= 36  5*9= 45  6*9= 54  7*9= 63  8*9= 72  9*9= 81

### break, continue

In [21]:
# break

hap = 0

for i in range(1,11):
    hap = hap + i
    if hap >= 20:
        print(i, hap)
        break
print(hap)

6 21
21

In [22]:
prompt = """
1. ADD
2. Del
3. Quie

Enter number :
"""

input_num = 0

while True:
    print(prompt)
    input_num = int(input())
    if input_num == 3:
        break

1. ADD
2. Del
3. Quie

Enter number :


1. ADD
2. Del
3. Quie

Enter number :

In [23]:
# continue
hap = 0
for i in range(1,11):
    if i % 2 == 0:
        continue
    print(i, end=" ")
    hap += i

print("")
print(hap)

1 3 5 7 9
25

In [24]:
import random

answer = random.randint(1,100)
print(answer)

while True:
    guess = int(input('1부터 100사이의 수를 맞춰주세요 : '))

    if guess == answer:
        print('정답입니다.')
        break
    elif guess > answer:
        print('너무 커요')
    elif guess < answer:
        print('너무 작아요')

52
너무 작아요
너무 커요
너무 커요
너무 커요
정답입니다.

In [25]:
# 20 보다 작은 정수 중에서 3의 배수와 5의 배수를 제외하고 출력해 봅시다.
x = 0

while True:
    x += 1
    if x >= 20:
        break
    if x%3==0 or x%5==0:
        continue

    print(x, end=' ')

1 2 4 7 8 11 13 14 16 17 19

In [26]:
for i in range(1,11):
    print('*' * (2*i - 1))

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************

In [27]:
for i in range(10,0,-1):
    print('*' * (2*i - 1))

*******************
*****************
***************
*************
***********
*********
*******
*****
***
*

In [28]:
n = 10
for i in range(n):
    print(' ' * ((n-1) - i), end = ' ')
    print('*' * (2*i+1))

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

### list

In [30]:
a = []

print(type(a))

<class 'list'>

In [31]:
a = [1,2,3]
b = ['Life','is','too','short']
c = [1, 'hello']
d = [1,'hello',[2,'hi']]

In [ ]:
b = ['Life','is','too','short']

b[0]

'Life'

In [33]:
b[-1]

'short'

In [34]:
b[:3]

['Life', 'is', 'too']

In [35]:
b[1:]

['is', 'too', 'short']

In [36]:
b[:]

['Life', 'is', 'too', 'short']

In [37]:
d = [1,'hello',[2,'hi']]

d[:2]

[1, 'hello']

In [38]:
d[2]

[2, 'hi']

In [39]:
d[2][1]

'hi'

In [40]:
a = [10,20,30,40,50]

print(a)
a[1:3] = [100]
print(a)

[10, 20, 30, 40, 50]
[10, 100, 40, 50]

In [41]:
fruits = ['apple', 'banana']

print(fruits)

fruits.append('cherry')

print(fruits)

['apple', 'banana']
['apple', 'banana', 'cherry']

In [42]:
print(fruits)
fruits.insert(1,'mango')
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry']

In [43]:
print(fruits)
fruits.pop()
print(fruits)

['apple', 'mango', 'banana', 'cherry']
['apple', 'mango', 'banana']

In [44]:
print(fruits)
fruits.pop(1)
print(fruits)

['apple', 'mango', 'banana']
['apple', 'banana']

In [45]:
print(fruits)
fruits.remove('apple')
print(fruits)

['apple', 'banana']
['banana']

In [46]:
score = [100, 30, 50, 80, 90, 70]

In [47]:
print(score)
score.sort()
print(score)

[100, 30, 50, 80, 90, 70]
[30, 50, 70, 80, 90, 100]

In [49]:
print(score)
score.sort(reverse=True)
print(score)

[30, 50, 70, 80, 90, 100]
[100, 90, 80, 70, 50, 30]

In [50]:
print(score)
score.reverse()
print(score)

[100, 90, 80, 70, 50, 30]
[30, 50, 70, 80, 90, 100]

In [51]:
len(score)

6

In [52]:
score = [100,50, 30, 50, 80,50, 90, 70]

In [53]:
score.count(50)

3

In [54]:
print(sum(score))

520

In [56]:
# 평균

marks = [90, 25, 67, 45, 80]
bunho = 0

for mark in marks:
    bunho += 1

    if mark >= 60:
        print(f'{bunho}번 학생은 합격입니다.') 
    else:
        print(f'{bunho}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [57]:
# 끝말잇기 게임

print('끝말잇기 게임')
print('시작')
var ='가나다'
print(var)

while True:
    ans = input('단어 입력 : ')
    print('단어를 입력', ans)

    if var[-1] == ans[0]:
        var = ans
    else:
        print('땡')
        break

끝말잇기 게임
시작
가나다
단어를 입력 다람쥐
단어를 입력 쥐구멍
단어를 입력 멍멍이
단어를 입력 이이이
단어를 입력 욕
땡